body{
  margin: 0px;
  padding: 0px;
}

:root{
  --color_main_1: #1b7fd0;
  --color_main_2: #013056;
  --color_h1: #1b7fd0;
  --color_h2: #1b7fd0;
  --color_h3: #000;
  --color_h4: #1b7fd0;
  --color_p_text: #000;

  --color_btn_read_more: #075da2;
  --color_btn_read_more_hover:#caddea;

  --color_btn_send_message: #1b7fd0;
  --color_btn_send_message_hover:#caddea;

  --color_btn_order_now: #dd0000;
  --color_btn_order_now_hover:#a40000;

  --color_btn_text: #fff;
  --color_btn_text_hover:#1b7fd0;

  --color_back: #f4f6fa;

}

@font-face {
  font-family: Roboto_Bold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto_Medium;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto_Refular;
  src: url(../fonts/Roboto-Regular.ttf);
}

h1{
font-family: Roboto_Bold;
font-size: 32px;
color: var(--color_h1);
font-weight: bold;
text-transform: uppercase;  
}
h2{
font-family: Roboto_Bold;
font-size: 28px;
color: var(--color_h2);
font-weight: bold;
text-transform: uppercase;  
}
h3{
font-family: Roboto_Medium;
font-size: 22px;
color: var(--color_h3);
text-transform: uppercase;
}
h4{
font-family: Roboto_Medium;
font-size: 18px;
color: var(--color_h4);
text-transform: uppercase;
}

p.text{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  color: var(--color_p_text)
}