.order {
    margin: auto 0;
    width: 99.9%;
    height: 560px;
    background-color: var(--color_h1);
    background-image: url(../../img/Bg2.svg);
    border: 1px solid var(--color_h1);
}

.h2block {
    background-color: var(--color_btn_send_message_hover);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1141px;
    height: 60px;
    filter: drop-shadow(2px 3.464px 3.5px rgba(2, 68, 121, 0.75));
    margin: auto;
    margin-top: 35px;

}

.h2block::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 25px solid var(--color_btn_send_message_hover);
    border-right: 25px solid transparent;
    top: 43px;
    right: 125px;
    position: relative;
}

.features {
    width: 670px;
    height: 60px;
    font-size: 22px;
    color: var(--color_btn_text);
    font-family: "Arial Narrow";
    margin-left: 30%;
    margin-top: 30px;
}

.block-of {
    margin: auto;
    width: 1140px;
    height: 360px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #ffffff;
    font-size: 25px;
    color: #1b7fd0;
    font-weight: 700;
    font-family: Roboto_Medium;
    text-align: center;

}

.block-p {
    float: left;

}

.first_block {
    float: left;
    margin: 10px;
    width: 255px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

.second_block {
    float: left;
    margin: 10px;
    width: 255px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

.third_block {
    float: left;
    margin: 10px;
    width: 255px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

.fourth_block {
    float: left;
    margin: 10px;
    width: 255px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

.block-of p {
    padding-top: 5px;
    width: 255px;
    font-size: 22px;
    color: #ffffff;
    font-family: "Arial Narrow";
}


.fifth_block {
    float: left;
    margin: 10px;
    width: 255px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

.sixth_block {
    float: left;
    margin: 10px;
    width: 255px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

.seventh_block {
    float: left;
    margin: 10px;
    width: 255px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

.eighth_block {
    float: left;
    margin: 10px;
    width: 255px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}